.bounds.app--body
  .app--section--header
    .grid-33
      .app--section--heading
        strong 129
        h2 Following
.grid-33
  .app--section
    ul.app--user--list
      li
        .circle--fluid
          .circle--fluid--cell.circle--fluid--primary
            a.app--tweet--author
              .app--avatar(style='background-image: url(images/f-spore.png)')
                img(src='images/f-spore.png')
              |
              h4 Jill Spore
              |
              p @jillspore
          |
          .circle--fluid--cell
            a.button.button-text Unfollow
