doctype html
html(lang="en")
  head
    meta(charset='utf-8')
    title Twitter App
    meta(name='description' content='A simple Twitter App')
    meta(name='author' content='Teal Larsen')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    link(href='https://fonts.googleapis.com/css?family=Work+Sans:400,600' rel='stylesheet' type='text/css')
    link(rel='stylesheet' href='/static/stylesheets/global.css')
  body
    include includes/header.pug
